name: Flutter Analyze

on:
  push:
  pull_request:

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: create .env file
        run: |
          touch .env
          echo "SUPABASE_ANON_KEY=${{secrets.SUPABASE_ANON_KEY}}" >> .env
          echo "SUPABASE_URL=${{secrets.SUPABASE_URL}}" >> .env
      - run: flutter --version
      - run: flutter pub get
      - run: flutter analyze

